service_account_key_file = "./key.json"
cloud_id                 = "b1ght3nmtm711gtojq4e"
folder_id                = "b1gmcu0esncmdden02bk"
zone                     = "ru-central1-a"
subnet_id                = "e9bsgtde700a5reltcc6"
image_id                 = "fd8enn5itcjd54eagq0u"
app_disk_image_id          = "fd833volvbub5qudpfdc"
db_disk_image_id          = "fd833volvbub5qudpfdc"
public_key_path   = "~/.ssh/appuser.pub"
private_key_path  = "~/.ssh/appuser"
app_servers_count = 1
bucket_account_key_file = "./key.json"
access_key       = "YCAJET4fC106BE2GZcGKnZtZC"
secret_key       = "YCMbwe8cLgNgXrQxv11HmWiZRMyn3YfG4AgQlR9-"
